<div class="header" id="home">
    <div class="header_top">
        <div class="wrap">
            <div class="logo">
                <%= image_tag "stuff/William's Logo2.png", style:"height:3em"%>
            </div>
            <div class="menu">
                <a class="toggleMenu" href="#" style="display: none;">
                    <%= image_tag "nav.png" %>
                </a>
                <!-- <ul class="nav nav-collapse" id="nav"> -->
                <ul class="nav" id="nav">
                    <li class="current"><a href="#home">Home</a></li>
                    <li><a href="#services">What I Do</a></li>
                    <li><a href="#skills">Skills</a></li>
                    <li><a href="#interesting-stuff">Interests</a></li>
                    <li><a href="#timeline_">Timeline</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#map_">Map</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <div class="clear"></div>
                </ul>
                <%#= javascript_include_tag 'responsive-nav.js'    %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="intro" id="intro">
        <div class="wrap">
            <!--                <div id="trigger"></div> -->
            <div id="william">
                <!-- <p> -->
                <div id="animate" >
                    <p>William Clarke</p>
                    <!-- <p style="overflow:hidden; display:inline-block; border:2px solid black; text-align:center">William Clarke</p> -->
                </div>
                <!-- </p> -->
                
            </div>
            <p id="trigger" style="height:8em; bottom:0; position:relative; text-align:center;">
            <span style="position:absolute; bottom:0; right:0; text-align:center;" > Hola. This is my <span class="rotate">wonderful, inspiring, groovy, egotistical, funky</span> site.
            </span>
            </p>
            <!--             <div id="icons">
                <i class="fa fa-envelope-square fa-4x"></i>
                <i class="fa fa-facebook-square fa-4x"></i>
                <i class="fa fa-twitter-square fa-4x"></i>
            </div> -->
        </div>
    </div>
</div>
<div class="main">
    <!-- <div class="content"> -->
    
    <div class="services" id="services">
        <div class="wrap">
            <h2>What I do</h2>
            <div class="line red"><span> </span></div>
            <h4>I'm a ruby developer interested in web design.</h4>
            <div class="services_grids">
                <div class="section group">
                    <div class="grid_1_of_4 services_1_of_4">
                        <%= image_tag "development.png" %>
                        <h3>Web Development</h3>
                        <p>Mainly with rails.</p>
                    </div>
                    <div class="grid_1_of_4 services_1_of_4">
                        <%= image_tag "ruby.png" %>
                        <h3>Ruby Scripting</h3>
                        <p>Automation is efficient / lazy.</p>
                    </div>
                    <div class="grid_1_of_4 services_1_of_4">
                        <%= image_tag "data.png" %>
                        <h3>Data Analysis</h3>
                        <p>2 years' experience.</p>
                    </div>
                    <div class="grid_1_of_4 services_1_of_4">
                        <%= image_tag "javascript.png" %>
                        <h3>Javascripting</h3>
                        <p>Especially with Google Scripts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="skills" id="skills">
        <div class="wrap">
            <h2>What I'm good at</h2>
            <div class="line orange"><span> </span></div>
            <h4>Here's a quick summary of what I've spent time doing.</h4>
            <div class="services_grids">
                <div id="canvas">
                    <div class="section group">
                        <div class="grid_1_of_4 timeline_1_of_4">
                            <div class="circle" id="circles-1"></div>
                            <h3>Ruby</h3>
                        </div>
                        <div class="grid_1_of_4 timeline_1_of_4">
                            <div class="circle" id="circles-2"></div>
                            <h3>Rails</h3>
                        </div>
                        <div class="grid_1_of_4 timeline_1_of_4">
                            <div class="circle" id="circles-3"></div>
                            <h3>Hive / SQL</h3>
                        </div>
                        <div class="grid_1_of_4 timeline_1_of_4">
                            <div class="circle" id="circles-4"></div>
                            <h3>Python</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="interesting-stuff" id="interesting-stuff">
        <div class="pad">
            <div class="wrapper interesting-stuff">
                <div class="section-title">
                    <!-- <h3 class="heading">Interesting Stuff</h3> -->
                    <h2>Interesting stuff</h2>
                    <div class="line yellow"><span> </span></div>
                    <div id="options" class="interesting-stuff">
                        <ul id="filters" class="option-set interesting-stuff" data-option-key="filter">
                            <li><a href="#filter" data-option-value=".code">Code Stuff</a></li>
                            <li><a href="#filter" data-option-value=".normal">Normal Stuff</a></li>
                            <li><a href="#filter" id="everything" data-option-value=".code, .normal">Everything</a></li>
                        </ul>
                        <!-- <li><a href="#filter" id="random" >Random</a></li> -->
                        <!--                                     <li><a href="#filter" data-option-value=".ios-app">Prototype</a></li>
                        <li><a href="#filter" data-option-value=".graphic">Photography</a></li> -->
                    </div>
                    
                    
                    <ul id="container" class="clickable cs-style-5 grid interesting-stuff isotope" >
                        <li class="element code isotope-item" data-number="1" >
                            <figure>
                                <%= image_tag 'stuff/ruby.png' %>
                                <figcaption>
                                <h3>Ruby</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Ruby's a super elegant language.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="https://www.ruby-lang.org/en/" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="2" >
                            <figure>
                                <%= image_tag 'stuff/jquery.png' %>
                                <figcaption>
                                <h3>jQuery</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Lets you do javascript stuff really easily. 10/10.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://jquery.com/" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="3" >
                            <figure>
                                <%= image_tag 'stuff/axolotl.png' %>
                                <figcaption>
                                <h3>Axolotls</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">A neotenic salamander. Need I say more?</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Axolotl" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="4" >
                            <figure>
                                <%= image_tag 'stuff/rails.png' %>
                                <figcaption>
                                <h3>Rails</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Websites with Ruby. Clever magic in the background</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://rubyonrails.org/" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="5" >
                            <figure>
                                <%= image_tag 'stuff/bonsai.png' %>
                                <figcaption>
                                <h3>Bonsai Trees</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Mini trees from Japan.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Bonsai" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="6" >
                            <figure>
                                <%#= image_tag 'stuff/wasp.jpg' %>
                                <%= image_tag 'stuff/bees.png' %>
                                <figcaption>
                                <h3>Social Insects</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Superorganisms are super</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Eusociality#In_insects" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="7" >
                            <figure>
                                <%= image_tag 'stuff/bike2.png' %>
                                <figcaption>
                                <h3>Cycling</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Free transport & Exercise!</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="https://www.youtube.com/watch?v=QH2-TGUlwu4" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="8" >
                            <figure>
                                <%= image_tag 'stuff/skull.png' %>
                                <figcaption>
                                <h3>Anthropology</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">People are interesting.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Anthropology" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="9" >
                            <figure>
                                <%= image_tag 'stuff/analytics.png' %>
                                <figcaption>
                                <h3>Analytics / Adwords</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Demographic & Behavioural patterns of the Internet.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://www.google.com/analytics/" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="10" >
                            <figure>
                                <%= image_tag 'stuff/javascript.png' %>
                                <figcaption>
                                <h3>Javascript</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Make websites interactive!</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="11" >
                            <figure>
                                <%= image_tag 'stuff/go.png' %>
                                <figcaption>
                                <h3>Go</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">A perfectly balanced game of attack & defence.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Go_(game)" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="12" >
                            <figure>
                                <%= image_tag 'stuff/transparentHadoop.png' %>
                                <figcaption>
                                <h3>Hadoop / Hive / SQL</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Big data. Far out, man.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://en.wikipedia.org/wiki/Apache_Hive" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="13" >
                            <figure>
                                <%= image_tag 'stuff/pangolin.png' %>
                                <figcaption>
                                <h3>Pangolins</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Type 'baby pangolin' into Google.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="https://www.google.co.uk/search?q=baby+pangolin&tbm=isch" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element normal isotope-item" data-number="14" >
                            <figure>
                                <%= image_tag 'stuff/taj.png' %>
                                <figcaption>
                                <h3>Travelling</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">We should all travel more.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://www.theguardian.com/travel" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="15" >
                            <figure>
                                <%= image_tag 'stuff/tech.png' %>
                                <figcaption>
                                <h3>Tech Companies</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Technology's pretty amazing.</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="http://www.theguardian.com/technology" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                        <li class="element code isotope-item" data-number="16" >
                            <figure>
                                <%= image_tag 'stuff/github.png' %>
                                <figcaption>
                                <h3>Github</h3>
                                <div class="meta-box interesting-stuff">
                                    <span class="entry-categories">Place to put Code</span>
                                </div>
                                <footer>
                                    <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                </footer>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                    <div class="clear"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="timeline_" id="timeline_">
        <div class="wrap">
            <!-- <h1 class="heading">My life summed up.</h1> -->
            <h2>My Life Summed Up</h2>
            <div class="line green"><span> </span></div>
            <div id="timeline">
                <ul id="dates">
                    <li><a href="#2014">2014</a></li>
                    <li><a href="#2012">2012</a></li>
                    <li><a href="#2010">2010</a></li>
                    <li><a href="#2007">2007</a></li>
                    <li><a href="#1997">1997</a></li>
                    <li><a href="#1988">1988</a></li>
                </ul>
                <ul id="issues">
                    <li id="2014" >
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/forward3d.png' %>
                        <h1>2012 - 2014</h1>
                        <p>
                        <h3>Forward3D: PPC Analyst</h3>
                        
                        <br><i class="fa fa-caret-right"></i> I worked at Forward3D for over 2 years as a Paid Search (data) analyst.
                        <br><i class="fa fa-caret-right"></i> Automated lot of different processes using Ruby and Javascript.
                        <!-- <br><i class="fa fa-caret-right"></i> Also learnt quite a lot about online marketing / advertising. -->
                        
                        </p>
                    </li>
                    <li id="2012">
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/skull.png' %>
                        <h1>2010 - 2012</h1>
                        <p>
                        <h3>Evolutionary Anthropology.</h3>
                        
                        <br><i class="fa fa-caret-right"></i> MSc in Evolutionary Anthropology.
                        <br><i class="fa fa-caret-right"></i> Pretty much viewing people from a biologist's perspective.
                        <!-- <br><i class="fa fa-caret-right"></i> Dissertation on Consumer Choice. -->
                        </p>
                    </li>
                    <li id="2010" class="selected">
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/arch.png' %>
                        <h1>2007 - 2010</h1>
                        <p>
                        <h3>Archaology & Anthropology</h3>
                        
                        <br><i class="fa fa-caret-right"></i> BA Archaeology & Anthropology.
                        <br><i class="fa fa-caret-right"></i> People Past & Present.
                        <!-- <br><i class="fa fa-caret-right"></i> Best exam marks gained by writing about Ancient Aliens. -->
                        </p>
                    </li>
                    <li id="2007">
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/dna.png' %>
                        <h1>2007</h1>
                        <p>
                        <h3>A levels</h3>
                        
                        <br><i class="fa fa-caret-right"></i> Ancient History, Biology & English literature.
                        <br><i class="fa fa-c.aret-right"></i> I'm a well rounded individual.
                        </p>
                    </li>
                    <li id="1997">
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/covent-garden.png' %>
                        <h1>1997</h1>
                        <p>
                        <h3>Royal Opera House</h3>
                        
                        <br><i class="fa fa-caret-right"></i> Covent Garden - I stared as Fleance in Verdi's Macbeth.
                        <br>
                        <!-- <br><i class="fa fa-caret-right"></i> Sadly my acting career went downhill from here. -->
                        </p>
                    </li>
                    <li id="1988">
                        <!-- <img src="1.png" width="256" height="256" /> -->
                        <%= image_tag 'timeline/baby.png' %>
                        <h1>1988</h1>
                        <p>
                        <h3>Born</h3>
                        
                        <!-- <br><i class="fa fa-caret-right"></i> I was born. -->
                        <!-- <br><i class="fa fa-caret-right"></i> A momentous occasion for all involved. -->
                        </p>
                    </li>
                </ul>
                <div id="grad_top"></div>
                <div id="grad_bottom"></div>
                <a href="#" id="next">+</a>
                <a href="#" id="prev">-</a>
            </div>
        </div>
    </div>
    
    <!--     <div class="interesting-stuff" id="interesting-stuff">
        <div class="wrapper interesting-stuff">
            <div class="section-title">
                <h2>Interesting Stuff</h2>
                <div id="options" class="interesting-stuff">
                    <ul id="filters" class="option-set interesting-stuff" data-option-key="filter">
                        <li><a href="#filter" data-option-value=".code">Code Stuff</a></li>
                        <li><a href="#filter" data-option-value=".normal">Normal Stuff</a></li>
                        <li><a href="#filter" id="everything" data-option-value=".code, .normal">Everything</a></li>
                    </ul>
                    <li><a href="#filter" data-option-value=".graphic">Photography</a></li>
                </div>
                
                
                id="container" -->
                <div class="projects" id="projects">
                    <div class="wrapper interesting-stuff">
                        <div class="section-title">
                            <h2>My projects</h2>
                            <div class="line orange"><span> </span></div>
                            <h4>A few of my projects on Github</h4>
                            <ul id="container2" class="clickable cs-style-5 grid interesting-stuff isotope" >
                                <li class="element" >
                                    <figure>
                                        <%= image_tag 'projects/codeschool.png' %>
                                        <figcaption>
                                        <h3>Video Downloader</h3>
                                        <!-- <div class="meta-box interesting-stuff"> -->
                                        <span class="entry-categories">Code School Video Downloader.</span>
                                        <!-- </div> -->
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Code-School-Video-Downloader" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/reddit.png' %>
                                        <figcaption>
                                        <h3>Reddit Downloader</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Download Wallpapers from popular subreddit.</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Wallpaper-Downloader/blob/master/imgur.rb" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/sql.png' %>
                                        <figcaption>
                                        <h3>SQL Database</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Gather Film Data & Compile to SQL Database.</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Films" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/twitter.png' %>
                                        <figcaption>
                                        <h3>Twitter Bot</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Twitter Bot / Grammar Nazi.</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Sir-Archibalds-Twitter-Account" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/gmail.png' %>
                                        <figcaption>
                                        <h3>Search Emails for Products</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Extract Amazon Product Details from Gmail Account</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Product-Emails" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag "projects/wmmc.png" %>
                                        <figcaption>
                                        <h3>This site</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Wow. Meta.</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/wmmclarke" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/crossword.png' %>
                                        <figcaption>
                                        <h3>Crosswords</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Crossword Generator - uses obvious clues from a dictionary.</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Crossword" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="element code isotope-item" data-number="1" >
                                    <figure>
                                        <%= image_tag 'projects/wordsearch.png' %>
                                        <figcaption>
                                        <h3>Wordsearch</h3>
                                        <div class="meta-box interesting-stuff">
                                            <span class="entry-categories">Generates Wordsearces using the dictionary</span>
                                        </div>
                                        <footer>
                                            <div class="nivo-lightbox-demo"> <p> <a href="https://github.com/wmmc/Wordsearch" target="_blank" data-lightbox-gallery="gallery1" class="nivo-lightbox-demo"> Link </a> </p></div>
                                        </footer>
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="map_" id="map_">
                    <div class="wrap">
                        <h2>Where I'm from</h2>
                        <div class="line red"><span> </span></div>
                        <br>
                        <h4>Hammersmith, London</h4>
                        <section class="map" id="map">
                            <p class="map-error">Sorry... Unable to load map... Please try to enable javascript</p>
                        </section>
                    </div>
                </div>
                
                <div class="contact" id="contact">
                    <div class="wrap">
                        <h2>Get in Touch</h2>
                        <div class="line orange"><span> </span></div>
                        <h4>
                        <div class="social-icons-row">
                            <div class="social-icons">
                                <div class="social-icons">
                                    <a href="http://www.github.com/wmmc">
                                        <i class="fa fa-github-square fa-4x faa-tada animated-hover"></i>
                                    </a>
                                </div>
                                <div class="social-icons">
                                    <a href="http://www.facebook.com/wmmclarke">
                                        <i class="fa fa-facebook-square fa-4x faa-vertical animated-hover"></i>
                                    </a>
                                </div>
                                <div class="social-icons">
                                    <a href="http://www.twitter.com/sir__archibald">
                                        <i class="fa fa-twitter-square fa-4x faa-spin animated-hover"></i>
                                    </a>
                                </div>
                                <div class="social-icons">
                                    <a href="mailto:wmmclarke@gmail.com?subject=Feedback From Your Website">
                                        <i class="fa fa-envelope-square fa-4x faa-shake animated-hover"></i>
                                    </a>
                                </div>
                            </div>
                            </h4>


       <%= form_for @message, url: me_index_path  do |f|%>
                                
                                <div class="text-box">
                                <label>
                                <%= f.text_field :name, value: 'Your Name:', onfocus:"this.value = '';", onblur:"if (this.value == '') {this.value = 'Your Name:'};" %>
                                </label>
                                <label>

                                <%= f.text_field :email, value: 'Your Email:', onfocus:"this.value = '';", onblur:"if (this.value == '') {this.value = 'Your Email:'};" %>
                                </label>
                                </div>
                                <%= f.text_area :message, value: 'Your Message:', size: 20, onfocus:"this.value = '';", onblur:"if (this.value == '') {this.value = 'Your Message:'};" %>
                                <%= f.submit :message, value: 'Send Message' %>

                        <% end %>
                       


                        </div>
                    </div>
                    <!-- </div> -->
                </div>